<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- KIOSK ATTEMPT -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Device admin permissions -->
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <!--  Unsure if this is 100% needed, seemed to work without it... -->
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO"/>

    <!--        tools:remove="android:appComponentFactory"-->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:testOnly="false"
        android:theme="@style/Theme.Componentsandroid">

        <!-- Make app automatically start on boot -->
        <receiver
            android:name=".BootReceiver"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Device admin receiver -->
        <receiver
            android:exported="true"
            android:name=".AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.LOCK_TASK_ENTERING" />
                <action android:name="android.app.action.LOCK_TASK_EXITING" />
            </intent-filter>
        </receiver>

        <!-- Main kiosk activity -->
        <activity
            android:name=".KioskActivity"
            android:launchMode="singleTask"
            android:lockTaskMode="if_whitelisted"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Componentsandroid"
            tools:ignore="DiscouragedApi"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>